form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 40vw; /* Increased width for better content display */
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
}

input,
select {
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
}

textarea {
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 100%;
}

button {
	padding: 8px 15px;
	font-size: 14px;
	color: #fff;
	background-color: #333;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	margin-right: 10px; /* Added margin for spacing */
}

button:hover {
	background-color: #222; /* Slightly darker hover color */
}

hr {
	width: 100%;
	border: none;
	border-top: 1px solid #eee;
	margin-top: 15px;
	margin-bottom: 10px;
}

.edit-button {
	background-color: #28a745; /* Green */
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.delete-button {
	background-color: #dc3545; /* Red */
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.add-level-button {
	background-color: #9d24e3; /* Orange */
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	cursor: pointer;
	border-radius: 3px;
}
